@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50 dark:text-gray-100 dark:bg-gray-900 transition-colors duration-200;
  }
}
