* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.part1 {
    padding: 20px 40px 60px 40px;
    background-color: #8e1f1f;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 92% 100%, 0 100%);
}

.part1 img {
    padding: 5px;
}

.part1 h1 {
    color: white;
    font-size: 50px;
}

.part1 h3 {
    color: black;
    font-size: 25px;
    padding-bottom: 20px;
}

.part1 p {
    color: black;
    font-size: 18px;
    line-height: 1.5;
}


.row {
    padding: 20px 50px;
    display: flex;
    gap: 10px;
    align-items: baseline; 
}

.row h1 {
    font-size: 38px;
}

.row img {
    width: 30px;
    height: 30px;
}


.clubs-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 40px 50px;
}

.club {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.club img {
    width: 70px;
}

.club p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: rgb(185, 16, 16);
    margin-top: 5px;
}

.club span {
    color: black;
}

.end {
    background-color: #8e1f1f;
    color: white;
    padding: 60px 50px;
    margin-top: 40px;
    clip-path: polygon(0 0, 100% 0, 100% 62%, 85% 100%, 0 100%);
}

.end h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.4;
}
